Repository WordPress/playground-tools, pull requests merged in 2023-06, with the labels that each got.

#42 Fix incorrect wp-cli path for test environment
  packages/wp-now/src/get-wp-cli-path.ts
Labels: Local Environment

#44 wp-now: Remove unnecessary nvm calls
  bin/wp-now
Labels: Local Environment

#37 wp-now: avoid stopping wp-now for lower node versions
  packages/wp-now/src/main.ts
Labels: wp-now

#47 Move wp-now's contributing instructions back to its README
  CONTRIBUTING.md
  packages/wp-now/README.md
Labels: documentation

#43 wp-now: improve php tests and comment failing tests
  packages/wp-now/src/execute-wp-cli.ts
  packages/wp-now/src/tests/execute-php.spec.ts
  packages/wp-now/src/tests/execute-php/hello-world-result.txt
  packages/wp-now/src/tests/execute-php/hello-world.php
  packages/wp-now/src/tests/execute-php/php-version-result.txt
  packages/wp-now/src/tests/execute-php/php-version.php
  packages/wp-now/src/tests/execute-php/print-php-version.php
  packages/wp-now/src/tests/wp-now.spec.ts
Labels: wp-now

#41 wp now: add codespaces support
  packages/wp-now/src/config.ts
  packages/wp-now/src/github-codespaces.ts
  packages/wp-now/src/run-cli.ts
  packages/wp-now/src/start-server.ts
  packages/wp-now/src/tests/github-codespaces.spec.ts
Labels: wp-now

#49 VS Code: Update to use latest wp-now internals
  packages/vscode-extension/README.md
  packages/vscode-extension/src/index.ts
  packages/vscode-extension/src/state.ts
  packages/vscode-extension/src/webview.tsx
  packages/vscode-extension/src/worker.ts
  packages/wp-now/src/index.ts
Labels: VS Code

#60 wp-now: add wp-admin redirection with trailing slash
  packages/wp-now/src/add-trailing-slash.ts
  packages/wp-now/src/start-server.ts
  packages/wp-now/src/tests/add-trailing-slash.spec.ts
Labels: wp-now

#68 wp-now: Refresh the Known Issues list for WCEU
  packages/wp-now/README.md
Labels: Documentation, wp-now

#70 Add a failing test case for dirty test directories
  packages/wp-now/src/tests/wp-now.spec.ts
Labels: Tests

#58 wp-now: Mount the parent theme when running in a child theme
  packages/wp-now/src/tests/mode-examples/child-theme-missing-parent/child/style.css
  packages/wp-now/src/tests/mode-examples/child-theme/child/style.css
  packages/wp-now/src/tests/mode-examples/child-theme/parent/style.css
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-now.ts
Labels: Bug, wp-now, VS Code

#71 Fix fatal startup crash on windows caused by an invalid mount() path
  packages/wp-now/src/wp-now.ts
Labels: Bug, wp-now, VS Code

#59 Compress text files
  package-lock.json
  package.json
  packages/wp-now/src/start-server.ts
  packages/wp-now/src/tests/mode-examples/theme-with-assets/image.jpg
  packages/wp-now/src/tests/mode-examples/theme-with-assets/image.png
  packages/wp-now/src/tests/mode-examples/theme-with-assets/javascript.js
  packages/wp-now/src/tests/mode-examples/theme-with-assets/style.css
  packages/wp-now/src/tests/wp-now.spec.ts
Labels: Enhancement, wp-now

#81 Code block: Remove reliance on recommendedWorkerType
  packages/interactive-code-block/src/lib/components/php-runner/php-loader.ts
Labels: Enhancement, interactive code block

#75 wp-now: Fix php cli path error in dev mode
  packages/wp-now/src/execute-php.ts
  packages/wp-now/src/tests/execute-php.spec.ts
Labels: wp-now

#85 wp-now: Clean up the README a bit
  packages/wp-now/README.md
Labels: Documentation, wp-now
