Repository WordPress/playground-tools, pull requests merged in 2024-06, with the labels that each got.

#285 Edit visually Browser Extension
  README.md
  packages/edit-visually-browser-extension/README.md
  packages/edit-visually-browser-extension/content-script.js
  packages/edit-visually-browser-extension/manifest.json
  packages/edit-visually-browser-extension/webcomponents-polyfill.js
Labels: Enhancement

#295 Rename the plugin to Sandbox, update description, add "experimental" to UI buttons
  packages/playground/playground.php
Labels: Enhancement, Playground plugin

#301 Playground block: Improve file tabs accessibility
  packages/wordpress-playground-block/src/components/playground-preview/index.tsx
Labels: Bug, Playground block, Accessibility

#299 Playground block: Stop monopolizing main element
  packages/wordpress-playground-block/src/components/playground-preview/index.tsx
Labels: Bug, Playground block, Accessibility

#308 Playground block: A11Y: Add link to skip preview
  packages/wordpress-playground-block/src/components/playground-preview/index.tsx
  packages/wordpress-playground-block/src/style.scss
Labels: Bug, Playground block, Accessibility

#315 Playground block: Distinguish better between Run and Activate buttons
  packages/wordpress-playground-block/src/components/playground-preview/index.tsx
Labels: Bug, Playground block, Accessibility

#317 Playground block: Update CodeMirror deps for a11y fix
  package-lock.json
  package.json
Labels: Bug, Playground block, Accessibility
