Repository WordPress/playground-tools, pull requests merged in 2024-03, with the labels that each got.

#164 wp-now: Support pretty permalinks without `index.php`
  packages/wp-now/README.md
  packages/wp-now/src/download.ts
Labels: Enhancement, wp-now

#165 Add Playground footer
  packages/interactive-code-block/project.json
  packages/wordpress-playground-block/src/components/playground-preview/index.tsx
  packages/wordpress-playground-block/src/style.scss
Labels: Enhancement, Playground block

#172 Fix app plugin check issues
  packages/playground/.editorconfig
  packages/playground/README.txt
  packages/playground/playground.php
  packages/playground/src/playground-db.php
  packages/playground/src/playground-zip.php
  packages/playground/templates/playground-page.php
Labels: Enhancement, Tests, WordPress Plugin

#174 Playground block: Import the client library from playground.wordpres.net
  packages/wordpress-playground-block/src/components/playground-preview/download-zipped-plugin.ts
  packages/wordpress-playground-block/src/components/playground-preview/index.tsx
  packages/wordpress-playground-block/src/components/playground-preview/write-plugin-files.ts
Labels: Enhancement, Playground block

#175 WordPress Playground Block: Load the Edit component asynchronously
  packages/wordpress-playground-block/src/index.ts
Labels: Enhancement, Playground block

#169 Fix/wp now shared file mounting
  packages/wp-now/src/constants.ts
  packages/wp-now/src/download.ts
  packages/wp-now/src/get-sqlite-path.ts
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-now.ts
Labels: Bug, wp-now

#180 Playground block: Fix button CSS and code editor max-height
  packages/wordpress-playground-block/src/style.scss
Labels: Enhancement, Playground block

#179 Playground Block: Remove @wp-playground/client and @wp-playground/blueprints dependency
  package-lock.json
  package.json
  packages/interactive-code-block/vite.config.ts
  packages/wordpress-playground-block/src/components/playground-preview/write-plugin-files.ts
  packages/wordpress-playground-block/src/index.ts
Labels: Enhancement

#186 Add a GitHub action to publish a new version of the VS Code extension
  .github/workflows/release-vscode.yml
Labels: Enhancement, VS Code

#185 Vscode extension: update WordPress versions
  package-lock.json
  package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/webview.tsx
Labels: Enhancement, VS Code

#188 VS Code and wp-now: Allow the login() step to fail
  .vscode/launch.json
  package-lock.json
  packages/vscode-extension/package.json
  packages/wp-now/src/wp-now.ts
Labels: Bug, wp-now, VS Code

#183 wordpress-playground-block: Require Activation Before Loading Playground Iframe
  packages/wordpress-playground-block/src/block.json
  packages/wordpress-playground-block/src/components/playground-preview/index.tsx
  packages/wordpress-playground-block/src/edit.tsx
  packages/wordpress-playground-block/src/index.ts
  packages/wordpress-playground-block/src/style.scss
Labels: Enhancement, Playground block

#152 WP-NOW: Use rotatePHPRuntime to avoid memory error
  packages/wp-now/src/wp-now.ts
Labels: wp-now

#199 Playground plugin: autologin fix, \n escaping, remove parent admin bar
  packages/playground/assets/css/playground.css
  packages/playground/assets/js/playground.js
  packages/playground/playground.php
  packages/playground/src/playground-db.php
Labels: Bug, Playground plugin

#207 WP-NOW: Update Readme gif with a longer one
  packages/wp-now/README.md
Labels: wp-now
