Repository WordPress/playground-tools, pull requests merged in 2024-01, with the labels that each got.

#132 Adding debug flags
  README.md
  packages/interactive-code-block/public/blueprint.json
  packages/nx-extensions/src/executors/built-script/executor.ts
  packages/nx-extensions/src/executors/built-script/schema.d.ts
  packages/nx-extensions/src/executors/built-script/schema.json
  packages/wp-now/README.md
  packages/wp-now/src/run-cli.ts
Labels: Enhancement, wp-now

#139 Update Playground dependencies in package.json
  .nvmrc
  package-lock.json
  package.json
  packages/wp-now/README.md
  packages/wp-now/src/tests/blueprints/wp-config.json
  packages/wp-now/src/tests/blueprints/wp-debug.json
  packages/wp-now/src/wp-now.ts
Labels: Enhancement, wp-now

#144 Playground Block – fix help text, render the block only after DOM load
  packages/wordpress-playground-block/src/edit.tsx
  packages/wordpress-playground-block/src/view.tsx
  packages/wordpress-playground-block/wordpress-playground-block.php
Labels: Playground block

#141 VSCode extension: Copy wasm files from correct folders
  packages/vscode-extension/project.json
Labels: VS Code
