Repository WordPress/playground-tools, pull requests merged in 2024-05, with the labels that each got.

#258 Playground block: Base64 encode attributes to prevent KSES from breaking the values on save
  packages/playground/assets/js/playground.js
  packages/wordpress-playground-block/src/base64.ts
  packages/wordpress-playground-block/src/edit.tsx
  packages/wordpress-playground-block/src/view.tsx
Labels: Enhancement, Playground block

#274 Playground block: Strengthen CSS for activate button positioning
  packages/wordpress-playground-block/src/style.scss
Labels: Bug, Playground block

#281 Playground block: Prevent the CodeMirror keyboard shortcuts from leaking to the block editor
  packages/wordpress-playground-block/src/components/playground-preview/index.tsx
Labels: Bug, Playground block

#133 Add WordPress Plugin: Playground ES Modules Support
  packages/wordpress-es-modules-plugin/README.md
  packages/wordpress-es-modules-plugin/src/bogus-empty-script.js
  packages/wordpress-es-modules-plugin/src/index.php
  packages/wordpress-es-modules-plugin/src/js/wp-a11y.js
  packages/wordpress-es-modules-plugin/src/js/wp-api-fetch.js
  packages/wordpress-es-modules-plugin/src/js/wp-autop.js
  packages/wordpress-es-modules-plugin/src/js/wp-blob.js
  packages/wordpress-es-modules-plugin/src/js/wp-block-editor.js
  packages/wordpress-es-modules-plugin/src/js/wp-block-library.js
  packages/wordpress-es-modules-plugin/src/js/wp-block-serialization-default-parser.js
  packages/wordpress-es-modules-plugin/src/js/wp-blocks.js
  packages/wordpress-es-modules-plugin/src/js/wp-commands.js
  packages/wordpress-es-modules-plugin/src/js/wp-components.js
  packages/wordpress-es-modules-plugin/src/js/wp-compose.js
  packages/wordpress-es-modules-plugin/src/js/wp-core-data.js
  packages/wordpress-es-modules-plugin/src/js/wp-data.js
  packages/wordpress-es-modules-plugin/src/js/wp-date.js
  packages/wordpress-es-modules-plugin/src/js/wp-deprecated.js
  packages/wordpress-es-modules-plugin/src/js/wp-dom-ready.js
  packages/wordpress-es-modules-plugin/src/js/wp-dom.js
  packages/wordpress-es-modules-plugin/src/js/wp-element.js
  packages/wordpress-es-modules-plugin/src/js/wp-escape-html.js
  packages/wordpress-es-modules-plugin/src/js/wp-hooks.js
  packages/wordpress-es-modules-plugin/src/js/wp-html-entities.js
  packages/wordpress-es-modules-plugin/src/js/wp-i18n.js
  packages/wordpress-es-modules-plugin/src/js/wp-is-shallow-equal.js
  packages/wordpress-es-modules-plugin/src/js/wp-keyboard-shortcuts.js
  packages/wordpress-es-modules-plugin/src/js/wp-keycodes.js
  packages/wordpress-es-modules-plugin/src/js/wp-notices.js
  packages/wordpress-es-modules-plugin/src/js/wp-preferences-persistence.js
  packages/wordpress-es-modules-plugin/src/js/wp-preferences.js
  packages/wordpress-es-modules-plugin/src/js/wp-primitives.js
  packages/wordpress-es-modules-plugin/src/js/wp-priority-queue.js
  packages/wordpress-es-modules-plugin/src/js/wp-private-apis.js
  packages/wordpress-es-modules-plugin/src/js/wp-redux-routine.js
  packages/wordpress-es-modules-plugin/src/js/wp-rich-text.js
  packages/wordpress-es-modules-plugin/src/js/wp-server-side-render.js
  packages/wordpress-es-modules-plugin/src/js/wp-shortcode.js
  packages/wordpress-es-modules-plugin/src/js/wp-style-engine.js
  packages/wordpress-es-modules-plugin/src/js/wp-token-list.js
  packages/wordpress-es-modules-plugin/src/js/wp-url.js
  packages/wordpress-es-modules-plugin/src/js/wp-viewport.js
  packages/wordpress-es-modules-plugin/src/js/wp-warning.js
  packages/wordpress-es-modules-plugin/src/js/wp-wordcount.js
  packages/wordpress-es-modules-plugin/src/test-es-module.js
Labels: Enhancement, ES Modules Plugin

#280 Playground Block: Support JSX source transpilation
  package-lock.json
  package.json
  packages/wordpress-playground-block/src/block.json
  packages/wordpress-playground-block/src/components/playground-preview/index.tsx
  packages/wordpress-playground-block/src/components/playground-preview/transpile-plugin-files.ts
  packages/wordpress-playground-block/src/edit.tsx
  packages/wordpress-playground-block/src/index.ts
  packages/wordpress-playground-block/src/style.scss
  packages/wordpress-playground-block/webpack.config.js
Labels: Enhancement, Playground block

#282 Playground block: Support remote files
  packages/wordpress-playground-block/src/components/file-name-modal.tsx
  packages/wordpress-playground-block/src/components/playground-preview/file-management-modals.tsx
  packages/wordpress-playground-block/src/components/playground-preview/index.tsx
  packages/wordpress-playground-block/src/components/playground-preview/use-editor-files.ts
  packages/wordpress-playground-block/src/edit.tsx
  packages/wordpress-playground-block/src/index.ts
  packages/wordpress-playground-block/src/style.scss
  packages/wordpress-playground-block/src/util.ts
Labels: Enhancement, Playground block
